In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration': duration})

In [2]:
df.head()

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
#Q1

df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#Q2

loc is label-based indexing, which means that it is used for indexing the DataFrame based on the labels of the rows and columns. This means that when using loc, the indexing parameters should be the row and column labels.

iloc is integer-based indexing, which means that it is used for indexing the DataFrame based on the integer positions of the rows and columns. This means that when using iloc, the indexing parameters should be the integer positions of the rows and columns.

In [6]:
#Q3

reindex = [3,0,1,2]
new_df = df.reindex(reindex)

print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [7]:
#Q4

import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.497044  0.583922  0.932181  0.468516  0.112008  0.372204
2  0.183610  0.230334  0.004138  0.449477  0.848141  0.686551
3  0.031072  0.366782  0.835998  0.375091  0.828763  0.895129
4  0.518334  0.794068  0.566761  0.390532  0.419238  0.172673
5  0.940833  0.306546  0.085834  0.790032  0.920974  0.839387
6  0.988231  0.104034  0.475365  0.468270  0.446747  0.900224

In [16]:
df1.mean()

column_1    0.526521
column_2    0.397614
column_3    0.483380
column_4    0.490320
column_5    0.595978
column_6    0.644361
dtype: float64

In [11]:
df1['column_2'].std()

0.2511184107473391

In [21]:
#Q5

df1.at[2,'column_2'] = "strvalue"
df1['column_2']

1    0.583922
2    strvalue
3    0.366782
4    0.794068
5    0.306546
6    0.104034
Name: column_2, dtype: object

In [23]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Error -  Because data at postion 2,column_2 is a string value and rest all data in column_2 is integer value u can't get mean for integers and string value simantaneously. Both of the data types are different. For example u can't add 5 + apple that's invalid.

#Q6

In Pandas, a window function, also known as a rolling or moving function, is a function applied to a rolling window of data. This function allows us to calculate statistics for a specified window size, which can help us to identify trends and patterns in time series data.

There are various types of window functions available in Pandas, some of the common ones are:

    Rolling: This function creates a rolling window of a given size and applies a specified function to the data within that window. The window can be defined by either a fixed number of rows or a time period.

    Expanding: This function calculates the statistic for all the values in the series up to the current index.

    EWM: This function calculates the exponentially weighted moving average of the data in a given window.

    Rolling_apply: This function applies a specified function to a rolling window of data, but allows for more complex calculations than the standard rolling function.

    Rolling_corr: This function calculates the rolling correlation between two series.

    Rolling_cov: This function calculates the rolling covariance between two series.

In [24]:
#Q7

import datetime

current_date = datetime.datetime.now()
current_month = current_date.strftime("%B")
current_year = current_date.strftime("%Y")

print("Current month and year:", current_month, current_year)

Current month and year: March 2023

In [25]:
#Q8

import pandas as pd

# Prompt user to enter dates in YYYY-MM-DD format
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert dates to pandas Timestamp objects
date1 = pd.Timestamp(date1)
date2 = pd.Timestamp(date2)

# Calculate difference between dates using Pandas timedelta
delta = date2 - date1

# Calculate difference in days, hours, and minutes
days = delta.days
hours, remainder = divmod(delta.seconds, 3600)
minutes, _ = divmod(remainder, 60)

# Display result to user
print("The difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours, and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2024-8-12
Enter the second date (YYYY-MM-DD):  2079-2-28

The difference between 2024-08-12 and 2079-02-28 is:
19923 days, 0 hours, and 0 minutes.

In [ ]:
#Q9

import pandas as pd

# Prompt user for file path, column name, and category order
file_path = input("Enter file path: ")
column_name = input("Enter column name to convert: ")
category_order = input("Enter category order (comma separated): ")

# Read CSV file into DataFrame
df = pd.read_csv(file_path)

# Convert specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order.split(","))

# Sort data by specified column
df_sorted = df.sort_values(column_name)

# Display sorted data
print(df_sorted)

KeyboardInterrupt: Interrupted by user

In [ ]:
#Q10

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

# Create a stacked bar chart of sales by product category
df.groupby('Product Category')['Sales'].plot(kind='bar', stacked=True)

# Add labels and title
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category over Time')

# Display the chart
plt.show()

In [ ]:
#Q11

import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Display the mean, median, and mode in a table
print("+-----------+--------+")
print("| Statistic | Value |")
print("+-----------+--------+")
print(f"| Mean      | {mean:.1f}  |")
print(f"| Median    | {median}     |")
print(f"| Mode      | {', '.join(map(str, mode))}      |")
print("+-----------+--------+")