In [1]:
#Q1 
import pandas as pd

In [4]:
series = pd.Series([4, 8, 15, 16, 23,42])

In [5]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
# Q2
list = []
for i in range(0,11):
    list.append(i)

series = pd.Series(list)
series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

In [9]:
#Q3

data = {'Gender': ['Female', 'Male', 'Female'],
        'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27]}

# Create the Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

   Gender    Name  Age
0  Female   Alice   25
1    Male     Bob   30
2  Female  Claire   27

#Q4

In Pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with rows and columns, similar to a spreadsheet or SQL table. It is a core data structure in Pandas, and provides a flexible and powerful way to work with data.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is similar to a column in a spreadsheet or a column in a database table. A Series has an index that labels each element in the array.

The main difference between a DataFrame and a Series is that a DataFrame is a two-dimensional object, while a Series is a one-dimensional object.

Here's an example to illustrate the difference:

In [10]:
import pandas as pd

# Create a dictionary containing data for a Pandas Series
data = {'a': 1, 'b': 2, 'c': 3}

# Create a Pandas Series from the dictionary
my_series = pd.Series(data)

# Print the series
print(my_series)

a    1
b    2
c    3
dtype: int64

In [11]:
import pandas as pd

# Create a dictionary containing data for a Pandas DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a Pandas DataFrame from the dictionary
my_dataframe = pd.DataFrame(data)

# Print the DataFrame
print(my_dataframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#Q5
Pandas provides a wide range of functions for manipulating data in a DataFrame. Some of the commonly used functions are:

    head(n) and tail(n): These functions are used to display the first n rows or last n rows of a DataFrame. For example, df.head(10) will display the first 10 rows of the DataFrame df.

    describe(): This function is used to display statistical summary of the DataFrame, including count, mean, standard deviation, minimum and maximum values, and quartiles. For example, df.describe() will display the statistical summary of the DataFrame df.

    drop(columns=[col1, col2]): This function is used to drop one or more columns from a DataFrame. For example, df.drop(columns=['col1', 'col2']) will drop columns col1 and col2 from the DataFrame df.

    groupby(): This function is used to group data in a DataFrame based on one or more columns. For example, df.groupby(['col1', 'col2']) will group data in the DataFrame df by columns col1 and col2.

    sort_values(by=['col1', 'col2'], ascending=[True, False]): This function is used to sort a DataFrame by one or more columns in ascending or descending order. For example, df.sort_values(by=['col1', 'col2'], ascending=[True, False]) will sort the DataFrame df by column col1 in ascending order and column col2 in descending order.

    fillna(value): This function is used to fill missing values in a DataFrame with a specified value. For example, df.fillna(0) will fill all missing values in the DataFrame df with the value 0.

#Q6
Series and DataFrame are mutable in nature. We can modify the values in a Series or DataFrame after it has been created by assignment or using various built-in functions. Panel, on the other hand, is generally not used much in modern Pandas code and has been deprecated since version 0.25.0.

In [12]:
#Q7

import pandas as pd

# Create the first Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])

# Create the second Series
ages = pd.Series([25, 30, 27])

# Create the third Series
genders = pd.Series(['Female', 'Male', 'Male'])

# Create the DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male